<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>
  <modules>
    <module assemblyFile="Example.PetShop.exe" moduleType="Example.PetShop.PetRegistryModule.PetRegistryModule, Example.PetShop" moduleName="PetRegistryModule" />
    <module assemblyFile="Example.PetShop.exe" moduleType="Example.PetShop.HistoryModule.HistoryModule, Example.PetShop" moduleName="HistoryModule" />
    <module assemblyFile="Example.PetShop.exe" moduleType="Example.PetShop.BasketModule.BasketModule, Example.PetShop" moduleName="BasketModule" />
  </modules>
</configuration>