<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>
  <modules>
    <module assemblyFile="ExampleUIs.exe" moduleType="ExampleUIs.PetModule.PetModule, ExampleUIs" moduleName="PetModule" />
  </modules>
</configuration>