<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>
  <modules>
    <module assemblyFile="ExampleUIs.exe" moduleType="ExampleUIs.PetRegistryModule.PetRegistryModule, ExampleUIs" moduleName="PetRegistryModule" />
    <module assemblyFile="ExampleUIs.exe" moduleType="ExampleUIs.HistoryModule.HistoryModule, ExampleUIs" moduleName="HistoryModule" />
  </modules>
</configuration>